{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('auth_signup') }}">
  <div class="form-group">
    <label class="col-form-label">
      {{ form.name.label }}
    </label>
    {{ form.name(class="form-control") }} 
    {% for error in form.name.errors %}
      <span class="badge badge-danger">{{ error }}</span>
      <br/>
    {% endfor %}
    </ul>
    <label class="col-form-label">
      {{ form.username.label }}
    </label>
    {{ form.username(class="form-control") }}
    {% for error in form.username.errors %}
      <span class="badge badge-danger">{{ error }}</span>
      </br>
    {% endfor %}
    <label class="col-form-label">
      {{ form.password.label }}
    </label>
    {{ form.password(class="form-control") }}
    {% for error in form.password.errors %}
      <span class="badge badge-danger">{{ error }}</span>
      </br>
    {% endfor %}
    <label class="col-form-label">
      {{ form.confirmation.label }}
    </label>
    {{ form.confirmation(class="form-control") }}
    </br>
    {{ form.submit(class="btn btn-primary") }}
  </div>
</form>
{% endblock %}